p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #1d539f !important;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

p {
    font-size: 40px;
    font-weight: 100;
    color: white;
    text-align: left;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content {
    display:flex;
    justify-content: space-between;
}

.nav-content .logo-touch-target {
   display: flex;
   justify-content: space-between;
}

.nav-links {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
  
.nav-links a {
    margin-left: 10px; 
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    font-family: "Roboto", serif;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    color: #61CCD6;
}

.nav-logo {
    height: 60px;
    margin: auto;
    padding-top: 0;
    padding-right: 0;
    padding-left: 1%;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 660px;
    display: flex;
    flex-wrap: wrap;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    margin: 5px 30px 5px 10px;
    flex-basis: 30%; /* Adjust the width of the profile picture column */
    padding: 20px;
    border-radius: 24px;
}

.about-me {
    padding: 20px 15px 20px 15px;
    margin: 10px 3px 3px 10px;
    flex-basis: 60%;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}


.education {
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 50px 0px;

}
.education h2 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.education h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}
.education p {
    font-size: 25px;
    font-weight: 400;
}


.container {
  width: auto;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
  font-size: 24px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  background-color:#f8b92a;
  margin: 20px 200px 20px 200px;
  padding: 20px;
  padding-bottom: 40px;
}