<footer class="text-center" id="footerID">
        <div class="container-fluid my-7">
                <div class="row justify-content-center">
                        <div class="col-lg-auto text-center">
                                <a class="btn text-white btn-floating m-1" href="https://www.linkedin.com/in/gabrielaliera" data-toggle="tooltip" data-placement="top"title="LinkedIn" role="button" target="_blank">
                                        <i class="fa-brands fa-linkedin-in fa-xl"></i>
                                </a>
                                <a class="btn text-white btn-floating m-1" href="https://www.github.com/gabrielaliera" data-toggle="tooltip" data-placement="top" title="GitHub" role="button" target="_blank">
                                        <i class="fa-brands fa-github fa-xl"></i>
                                </a>
                                <a class="btn text-white btn-floating m-1" href="mailto:gliera2990@gmail.com?subject=Hi%20Gaby!" data-toggle="tooltip" title="Email Me" role="button" target="_blank">
                                        <i class="fa-solid fa-envelope fa-xl"></i>
                                </a>
                                <a class="btn text-white btn-floating m-1" href="https://gabrielaliera.github.io/"  data-toggle="tooltip" title="My Portfolio" role="button" target="_blank">
                                        <i class="fa-solid fa-user fa-xl"></i>
                                </a>
                        </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 1rem;">
                        <div class="col-lg-auto text-center" id="footer-nav">
                                <p> Designed & Built by Gabriela Liera</p>
                        </div>
                </div>
        </div>
    </footer>