{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
       <div class="hobbies">
          <h1>{{title}}</h1>  
          {% for hobby in hobbyData %}
          <div class="container">
            <div>
              <img src={{hobby.imgSource}} alt={{hobby.name}}>
            </div>
            <div class="hobbyInfo">
              <h1>{{hobby.name}}</h1>
              <p>{{hobby.description}}</p>
            </div>   
          </div>
          {% endfor %}
       </div>
{% endblock %}
 
{% block footer %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}