{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="profile">
        <div class="about-me">
             <p> This is a short "About yourself" section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                 ut labore et dolore magna aliqua. Nunc lobortis mattis aliquam faucibus. 
                 Faucibus a pellentesque sit amet porttitor eget dolor morbi.</p>
        </div>   
         <div class="profile-picture">
             <img src="./static/img/profile-pic.jpg">
             <h1>{{ title }}</h1>
         </div> 
     </div>
     <div id="education" class="education">
         <h2>Education</h2>
         <div class="eduContainer">
             <h3>University of Awesome</h3>
             <p>B.A Computer Science</p>
         </div>
     </div>
{% endblock content %}

{% block footer %}
     {{ super() }}
{% endblock %}

{% block scripts %}
     {{ super() }}
{% endblock %}