{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <!-------------- Welcome ---------------->
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-8 text-lg-start d-flex flex-column  justify-content-center "> 
                    <p class="h1 display-3 mt-1" id="welcome-title">Welcome to my website!</p>
                    <p class="lead mt-4" id="welcome-description">I'm Gaby Liera and this website was created during my MLH Production Engineering Fellowship (Meta).</p>
                    <p class="lead" id="welcome-description" >This project serves as a showcase of the diverse technologies I harnessed during my internship,
                        allowing you to witness the practical application of my expertise and the growth of my capabilities.</p>
                </div>
                <div class="col-lg-4">
                    <div class="py-5 mx-5">
                        <img class="rounded img-fluid shadow mx-auto d-block" id="me" src="{{ url_for('static', filename='img/profile-crop.jpg') }}" alt="Me">
                    </div>
                </div>
            </div>            
        </div>
    </header>
    <!-------------- Technologies ---------------->
    </section>
    <div class="container py-2">
        <div class="row">
            <div class="h2 display-2 text-center my-4 mb-3" id="technologies-title"><i class="fas fa-briefcase"></i> Powered by</div>
        </div>
        <!-------1st Row------->
        <div class="row">
             <!---python---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/python.png" class="img-fluid rounded m-2" alt="Python Logo">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Used Python for API funationality, database connection, and unit test</li>
                            <li>Implemented test-driven development for unit testing & integration testing on API endpoints & MySQL</li>
                        </ul>
                    </div>
                
                </div>
            </div>
            <!---flask---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/flask.avif" class="img-fluid rounded m-3" alt="Flask Logo">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Established API endpoints to handle timeline posts</li>
                            <li>Defined routes for rendering HTML templates</li>
                        </ul>
                    </div>
                  
                </div>
            </div>
             <!---jinja---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/jinja.png" class="img-fluid rounded m-3" alt="Jinja Logo">
                    <div class="card-body mt-4">
                        <ul class="card-text">
                            <li>Template rendering used to generate HTML pages dynamically by embedding placeholders for dynamic content like navigation bar, footer, and scripts</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---bootstrap---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/bootstrap2.png" class="img-fluid rounded mt-3 mx-3" alt="Bootstrap Logo">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Responsive grid system that helps webpages adapt to different screen sizes and device</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-------2nd Row------->
        <div class="row">
             <!---Git---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/git.png" class="img-fluid rounded mt-5 mx-3" alt="Git and Github Logo">
                    <div class="card-body">
                        <ul class="card-text mt-3">
                            <li>Implemented Git version control methodology that incorporates feature branches for development and a structured process for opening and managing issues to enhance code collaboration and project management</li>
                            <li>Used GitHub Actions to trigger Docker-related tasks, such as building Docker images for application and pushing them to a container registry</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---digital ocean---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom"data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/digitalOcean.png" class="img-fluid rounded mt-5 mx-3" alt="Digital Ocean Logo">
                    <div class="card-body">
                        <ul class="card-text mt-4">
                            <li>Deployed the project on a Digital Ocean droplet, a virtual private server running the CentOS operating system, to provide hosting and infrastructure for the application</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---Linux---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/linux.png" class="img-fluid rounded mt-1 mx-2" alt="Linux Logo">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>Utilized the CentOS 7 operating system as the foundation for the project</li>
                            <li>Developed custom services and employed systemctl to enable essential programs, including MySQL and the portfolio script</li>
                            <li>Employed tmux to excute and manage Flask server for myportfolio before creating CI/CD pipeline with Docker/GitHub Actions</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---bash---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000" >
                    <img src="/static/img/tech/bash2.png" class="img-fluid rounded mt-3 mx-3 px-2" alt="Bash Logo" style="background-color:#1e6690;">
                    <div class="card-body mt-1">
                        <ul class="card-text">
                            <li>Wrote redeploy-site.sh and run-test.sh scripts</li>
                            <li>Scripting using commands like curl, grep, awk, jq, sort, wc</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-------3rd Row------->
        <div class="row">
             <!---mysql---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/mysql.jpg" class="img-fluid rounded m-3" alt="MySQL Logo">
                    <div class="card-body">
                        <ul class="card-text">
                            <li>API endpoints in the Flask application interact with the MySQL database through the TimelinePost model for tasks like inserting, retrieving, and deleting timeline posts</li>
                            <li>Using Docker for MySQL (MariaDB) container ensuring data persistence and communication with other containers</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---nginx---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom"data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/nginx.png" class="img-fluid rounded mt-4 mx-3" alt="NGINX Logo">
                    <div class="card-body mt-4">
                        <ul class="card-text">
                            <li>Using NGINX as a reverse proxy and SSL/TLS terminator in front of your Flask application to handle incoming requests, manage HTTPS encryption, and route traffic appropriately</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---docker---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/static/img/tech/docker.png" class="img-fluid rounded mt-4 mx-3" alt="Docker Logo">
                    <div class="card-body mt-5">
                        <ul class="card-text">
                            <li>Employed Docker to establish three separate containers: myportfolio, mysql, and nginx</li>
                            <li>Leveraged Docker Compose to orchestrate these containers and specify their interactions and resource sharing</li>
                            <li>Utilizied Docker volumes to maintain data persistence, ensuring both data durability and secure storage of certificates</li>
                        </ul>
                    </div>
                </div>
            </div>
             <!---yaml---->
            <div class="col-lg-3 px-3 my-4">
                <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                    <div class="mt-5 mb-2 mx-3 justify-content-center"><center><i class="fa-solid fa-code fa-2xl m-3" title="Python"> YAML</i><center></center></div>
                    <div class="card-body mt-5">
                        <ul class="card-text">
                            <li>Used YAML configurations in combination with Docker Compose and GitHub Actions to define applcations infrastructure and services as well as automate workflow to build, test, and deploy application</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <!-------4th Row------->
        <div class="row justify-content-center">
            <!---Prometheus---->
           <div class="col-lg-3 px-3 my-4">
               <div class="card w-100 h-100 rounded-3" id="cardCustom" data-aos="fade-up" data-aos-duration="2000">
                   <img src="/static/img/tech/prometheus.png" class="img-fluid rounded mt-4 mx-3" alt="Prometheus Logo">
                   <div class="card-body">
                       <ul class="card-text">
                           <li>Explored and learned about Prometheus using a a pre-configured Docker Compose setup for Prometheus, Grafana, and related components, streamlining the installation and setup process</li>
                       </ul>
                   </div>
               </div>
           </div>
            <!---Grafana---->
           <div class="col-lg-3 px-3 my-4">
               <div class="card w-100 h-100 rounded-3" id="cardCustom"data-aos="fade-up" data-aos-duration="2000">
                   <img src="/static/img/tech/grafana.png" class="img-fluid rounded mt-5 mx-3" alt="Grafana Logo">
                   <div class="card-body mt-3">
                       <ul class="card-text">
                           <li>Set up Grafana dashboard to display container CPU usage, memory usage, and network I/O</li>
                           <li>Monitored changes on dashboard while performing load test</li>
                       </ul>
                   </div>
               </div>
           </div>
            
           
       </div>
    </div>
    
{% endblock content %}

{% block footer %}
     {{ super() }}
{% endblock %}

{% block scripts %}
     {{ super() }}
{% endblock %}