{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
        <div class="hobbies">
        <h1>Cool Places I've Visted!</h1>
        </div>
        <div class="Mapcontainer">
        <div id="map"></div>
        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    mapTypeId: "terrain", // choose from roadmap, satellite, hybrid, terrain
                    zoomControl: false,
                    zoom: 3,
                    center: {lat: 40.7128, lng: -74.0060},
                    disableDefaultUI: true, 
                    draggable: true, 
                    styles: [
                    {
                            featureType: "administrative.country",
                            elementType: "labels.text.fill",
                            stylers: [
                                { visibility: "on" },
                                { color: "#F8B92A" },
                                { weight: 13 },
                                { gamma: 0.8 },
                                { saturation: 50 },
                                { lightness: 0 },
                                { invert_lightness: false },
                            ],
                        },
                    {
                        featureType: "administrative.locality",
                        elementType: "labels.text.fill",
                        stylers: [
                            { visibility: "on" },
                            { color: "#F8B92A" },
                            { weight: 13 },
                            { gamma: 0.8 },
                            { saturation: 50 },
                            { lightness: 0 },
                            { invert_lightness: false },
                        ],
                    },
                    {
                            featureType: "administrative.land_parcel",
                            elementType: "labels.text.fill",
                            stylers: [
                                { visibility: "on" },
                                { color: "#F8B92A" },
                                { weight: 13 },
                                { gamma: 0.8 },
                                { saturation: 50 },
                                { lightness: 0 },
                                { invert_lightness: false },
                            ],
                        },
                        {
                            featureType: "administrative.province",
                            elementType: "labels.text.fill",
                            stylers: [
                                { visibility: "on" },
                                { color: "#F8B92A" },
                                { weight: 13 },
                                { gamma: 0.8 },
                                { saturation: 50 },
                                { lightness: 0 },
                                { invert_lightness: false },
                            ],
                        },
                        {
                            featureType: "water",
                            elementType: "labels.text.fill",
                            stylers: [
                                { visibility: "on" },
                                { color: "#F8B92A" },
                            ],
                        },
                    {
                        featureType: "all",
                        elementType: "geometry",
                        stylers: [
                            { hue: "#1D539F" },
                            { saturation: -20 },
                            { lightness: 0 },
                            { visibility: "on" },
                        ],
                    },
                    {
                        featureType: "road",
                        elementType: "geometry",
                        stylers: [{ visibility: "off" }],
                    },
                    {
                        featureType: "poi.business",
                        elementType: "labels.icon",
                        stylers: [{ visibility: "off" }],
                    },
                    {
                        featureType: "transit",
                        elementType: "geometry",
                        stylers: [{ visibility: "off" }],
                    },
                ],
                });
    
                var marker1 = new google.maps.Marker({
                    position: {lat: 51.5, lng: -0.09},
                    map: map,
                    title: 'United Kingdom',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });
    
                var marker2 = new google.maps.Marker({
                    position: { lat: 18.7357, lng: -70.1627 }, 
                    map: map,
                    title: 'Dominican Republic',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });

                var marker3 = new google.maps.Marker({
                    position: { lat: 45.50, lng: -73.5673 }, 
                    map: map,
                    title: 'Montreal Candada',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });

                var marker4 = new google.maps.Marker({
                    position: { lat: 28.5383, lng: -81.3792 }, 
                    map: map,
                    title: 'Orlando Florida',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });

                var marker5 = new google.maps.Marker({
                    position: { lat: 41.9028, lng: 12.4964 }, 
                    map: map,
                    title: 'Italy',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });

                var marker6 = new google.maps.Marker({
                    position: { lat: 40.4168, lng: -3.7038 }, 
                    map: map,
                    title: 'Spain',
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                    }
                });
    
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX07PPaDIwuqoyAsKH_94n6CQLlpiyDtQ&callback=initMap" async defer></script>
    </div>
    {% endblock content %}

    {% block footer %}
         {{ super() }}
    {% endblock %}
    
    {% block scripts %}
         {{ super() }}
    {% endblock %}