{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
 
  <div class="container">
    <div class="h1 mx-3 my-3" id="timelineTitle">Timeline</div>
    <form id="postForm" action="/api/timeline_post" method="POST">
      <div class="row mx-3 my-3">
        <div class="col-md-6 mt-3">
          <label for="name" class="form-label-lg"> <i class="fa regular fa-user"> </i> Name:</label>
          <input type="text" class="form-control form-control-lg" id="name" name="name" required>
        </div>
        <div class="col-md-6 mt-3">
          <label for="email" class="form-label"> <i class="fa regular fa-envelope"></i> Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
      </div>
      <div class="row mx-3 my-3">
        <div class="col-12 mt-3">
          <label for="content" class="form-label"> <i class="fa regular fa-comment"></i> Content:</label>
          <textarea id="content" class="form-control" name="content" rows="4" cols="50" required></textarea><br><br>
        </div>  
      </div>
      <div class="row mx-3 my-2">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary btn-lg" value="Submit">Submit</button>
        </div>
      </div>     
    </form>

    <div class="h2 mx-3 mt-5" id="timelineTitle">Recent Posts</div>
    <div class="mx-3 my-3" id="timelinePosts">
        <!-- Timeline posts will be displayed here -->
    </div>
  </div>  

{% endblock %}
 
{% block footer %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
{% endblock %}
