{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
       <div class="work">
          <h1>{{title}}</h1>  
          {% for job in workData %}
          <div class="container">
            <div class="jobInfo">
              <h2>{{job.title}}<br/>{{ job.employer}}</h2>
              <p>{{job.description}}</p>
            </div>
            <div class="jobDate">
              <p>{{job.date}}</p>
            </div>   
          </div>
          {% endfor %}
{% endblock %}
 
{% block footer %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}